<a id="education" class="anchor"></a>
<div class="content">
    <h2><b>Education</b></h2>
    <mat-card>
        <div>
            <div class="grid-container">
                <div>
                    <h2>
                        University of California, Davis
                    </h2>
                    <h3>
                        Computer Science, B.S.
                    </h3>
                </div>

                <div>
                    <p class="align">
                        Graduated June 2022
                    </p>
                    <p class="align">
                    Cum Laude <br>
                    GPA: 3.92/4 
                    </p>
                </div>
                <div>
                    <h4>Relevant Coursework:</h4>
                    <div class="course-container">
                        <span>Software Engineering</span>
                        <span>Operating Systems</span>
                        <span>Databases</span>
                        <span>Programming Languages</span>
                        <span>Data Structures</span>
                        <span>Computer Architecture</span>
                        <span>Machine Learning</span>
                        <span>Artificial Intelligence</span>
                        <span>Computer Vision</span>
                        <span>Computer Graphics</span>
                        <span>Calculus</span>
                        <span>Linear Algebra</span>
                    </div>
                </div>
            </div>
            
        </div>
    </mat-card>
</div>
