<header>
    <nav class="navbar">
        <div class="navbar-nav">
            <ul class="nav-list-top">
                <a mat-icon-button class="nav-item home" href="/"><mat-icon fontIcon="home"></mat-icon></a>
                <span class="spacer"></span>
                <a mat-icon-button (click)="onToggleSidenav()" class="nav-button-mobile">
                    <mat-icon class="menu-icon" fontIcon="menu"></mat-icon>
                </a>
                <a mat-button class="nav-item" href="#about">About</a>
                <a mat-button class="nav-item" href="#education">Education</a>
                <a mat-button class="nav-item" href="#skills">Skills</a>
                <a mat-button class="nav-item" href="#projects">Projects</a>
                
            </ul>
        </div>
        <div class="navbar-side">
            <ul class="nav-list-side">
                <a mat-button (click)="onClickMenuItem()" class="nav-item-mobile" href="/">Home</a>
                <a mat-button (click)="onClickMenuItem()" class="nav-item-mobile" href="#about">About</a>
                <a mat-button (click)="onClickMenuItem()" class="nav-item-mobile" href="#education">Education</a>
                <a mat-button (click)="onClickMenuItem()" class="nav-item-mobile" href="#skills">Skills</a>
                <a mat-button (click)="onClickMenuItem()" class="nav-item-mobile" href="#projects">Projects</a>
            </ul>
        </div>
        
    </nav>
</header>