.navbar {
    padding: 0.25vh 2vw;
    background-color: transparent;
}

header {
    transition: 0.2s ease-in-out;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.black {
    background: rgb(0, 0, 0, 0.8);
}

.navbar-nav {
    color: rgba(255, 255, 255, 1);
}

.nav-list {
    padding: 0 2vw;
    height: fit-content;
    list-style: none;
    display: flex;
    gap: 1vw;
}

.nav-button-mobile {
    display: none;
}

mat-icon {
    width: 22px;
    height: 22px;
    padding-right: 2px;
    padding-bottom: 6px;
    vertical-align: middle;
}

.nav-item:not(.home) {
    padding-top:.1em;
    color: white;
    text-align: center;
    text-decoration: none;
    
    
}

.nav-item {
    transition: 250ms;
    font-size: 1.02em;
}

.nav-item:hover {
    transform: scale(1.1);
    color: #000000;
    background-color: #B82601;
}


.spacer {
    flex: 1 1 auto;
}

.mobile {
    display:none
}

@media screen and (max-width: 700px){
    .mobile {
        display:contents;
    }
    .nav-item {
        display: none;
    }

    .nav-button-mobile {
        display: contents;
        color: white;
        text-align: center;
    }
}