.navbar {
    padding: 0.25vh 2vw;
    background-color: transparent;
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar-nav {
    color: rgba(255, 255, 255, 1);
}

.nav-list {
    padding: 0 2vw;
    height: fit-content;
    list-style: none;
    display: flex;
}

.home {
    color: white;
    text-align: left;
}

.nav-button-mobile {
    display: none;
}

mat-icon {
    width: 22px;
    height: 22px;
    padding-right: 2px;
    padding-bottom: 6px;
    vertical-align: middle;
}

.nav-item {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.nav-item:hover {
    color: #000000;
    background-color: #B82601;
}


.spacer {
    flex: 1 1 auto;
}

.mobile {
    display:none
}

@media screen and (max-width: 700px){
    .mobile {
        display:contents;
    }
    .nav-item {
        display: none;
    }

    .nav-button-mobile {
        display: contents;
        color: white;
        text-align: center;
    }
}