
<div class="content">
    <div class="flex-container">
        <mat-card class="section">
            <mat-card-title><h2>About Me</h2></mat-card-title>
            <mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor dolor nisi, ut elementum risus euismod quis. Praesent in faucibus orci, et dapibus dui. Vivamus iaculis nibh lectus, eu sagittis ante condimentum nec. Fusce sapien ante, vehicula eget cursus sit amet, congue non quam. Aliquam tortor risus, placerat nec ornare et, placerat eget nibh. Aenean feugiat felis a elit fringilla, ut scelerisque purus ultrices. Quisque odio tortor, volutpat a malesuada sit amet, malesuada in nunc. Nulla iaculis, velit id lobortis posuere, ligula ex interdum leo, eu bibendum mauris nisi ac dui. Pellentesque interdum bibendum leo euismod porta. Vestibulum ullamcorper, enim nec convallis tincidunt, mauris orci placerat erat, vitae efficitur arcu nisi in erat.</p></mat-card-content>
            
        </mat-card>
        <mat-card class="section">
            <mat-card-title><h2>Information</h2></mat-card-title>
            <mat-card-content><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor dolor nisi, ut elementum risus euismod quis. Praesent in faucibus orci, et dapibus dui. Vivamus iaculis nibh lectus, eu sagittis ante condimentum nec. Fusce sapien ante, vehicula eget cursus sit amet, congue non quam. Aliquam tortor risus, placerat nec ornare et, placerat eget nibh. Aenean feugiat felis a elit fringilla, ut scelerisque purus ultrices. Quisque odio tortor, volutpat a malesuada sit amet, malesuada in nunc. Nulla iaculis, velit id lobortis posuere, ligula ex interdum leo, eu bibendum mauris nisi ac dui. Pellentesque interdum bibendum leo euismod porta. Vestibulum ullamcorper, enim nec convallis tincidunt, mauris orci placerat erat, vitae efficitur arcu nisi in erat.</p></mat-card-content>
        </mat-card>
    </div>
</div>

