<a id="about" class="anchor"></a>
<div class="content">
    <h2><b>About Me</b></h2>
    <mat-card>
        <div class="flex-container">
            <div class="section">
                <p>I am a new graduate currently seeking a full-time position as a software engineer. </p>
                <p>I am looking for any position where I can continue to improve my skills as an engineer, work with bright people, learn new skills, and develop interesting things.</p>
                
                
            </div>
            <div class="section">
                <ul class="info-grid">
                    <p>Contact Info</p>
                    <li><div class="info-grid-item">
                        <span>Date of Birth:</span>
                        <span>June 18, 2000</span>
                    </div>
                    <li><div class="info-grid-item">
                        <span>Email:</span>
                        <a href="mailto:rycen618@gmail.com"><span>rycen618@gmail.com</span></a>
                    </div>
                    <li><div class="info-grid-item">
                        <span>Phone:</span>
                        <a href="tel:+14155878778"><span>+1 (415) 587-8778</span></a>
                    </div>
                </ul>
            </div>
        </div>
    </mat-card>
</div>

