.flex-container {
    gap: 1vw;
    display: flex;
    flex-direction: row;
}

.content {
    align-items: left;
    width: auto;
    max-width:max-content;
    margin: 3vw 20vw 0 20vw;
}

mat-card {
    width:30vw;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

@media (max-width: 700px) {
    .flex-container {
        flex-direction: column;
    }

    .content {
        align-items: left;
        width: auto;
        max-width:max-content;
        margin: 3vw 10vw 0 10vw;
    }

    mat-card {
        width:75vw;
    }
}