.flex-container {
    width: 60vw;
    gap: 1vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 29.5vw 29.5vw;
}

.content {
    font-size: 1em;
    align-items: left;
    width: auto;
    margin: 3vw 19vw 0 20vw;
}

.section {
    width:auto;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

@media (max-width: 700px) {
    .flex-container {
        grid-template-columns: 80vw;
    }

    .content {
        align-items: left;
        width: auto;
        max-width:max-content;
        margin: 3vw 10vw 0 10vw;
    }
}