.flex-container {
    width:60vw;
    gap: 1vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 29.5vw 29.5vw;
}

.content {
    font-size: 1em;
    align-items: flex-start;
    width: auto;
    margin: 10vh 20vw 0 20vw;
}

.project-bullets {
    width:97%;
}

.project-title {
    margin-top:1vh;
    font-size:1.2em;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    font-weight: 700;
    width:98%;
}

.project-desc {
    font-size: 1em;
}

.project {
    background: rgba(0, 0, 0, 1);
    width: auto;
    height: auto;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    transition: 0.5s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project-contents {
    margin-left: 1vw;
    margin-right: 1vw;
}

.anchor {
    position:absolute;
    margin-top:-5vh
}

.github-link {
    transform: scale(1.5);
    transition: 250ms ease;
}

.github-link:hover {
    transform: scale(1.75)
}

.bullet-list {
    margin-left: -4%;
    font-size: 0.95em;
    color:white;
    list-style: disc;
}

@media (max-width: 700px) {
    .flex-container {
        grid-template-columns: 80vw;
    }

    .content {
        align-items: left;
        width: auto;
        max-width: max-content;
        margin: 10vh 10vw 0 10vw;
    }

    mat-card {
        width:80vw;
    }
}