<a id="skills" class="anchor"></a>
<div class="content">
    <h2><b>Skills</b></h2>
    <mat-card>
        <div class="grid-container">
            <h4>Languages</h4>
            <div class="flex-container">
                <span>C++</span>
                <span>Java</span>
                <span>JavaScript</span>
                <span>TypeScript</span>
                <span>Python</span>
                <span>Rust</span>
                <span>HTML/CSS</span>
                <span>GLSL</span>
                <span>SQL</span>
            </div>
            <h4>Technologies</h4>
            <div class="flex-container">
                <span>React</span>
                <span>Angular</span>
                <span>Node.js</span>
                <span>scikit-learn</span>
                <span>TensorFlow</span>
                <span>Keras</span>
                <span>PyTorch</span>
                <span>Git</span>
                <span>Docker</span>
            </div>
        </div>
    </mat-card>
</div>