<body>
<mat-sidenav-container class="container">
	<mat-sidenav #sidenav role="navigation" class="sidenav" position="end">
		<ul class="nav-list">
			<a mat-button class="nav-item" routerLink="/">Home</a>
			<a mat-button class="nav-item" routerLink="./" fragment="about">About</a>
			<a mat-button class="nav-item" routerLink="./" fragment="projects">Projects</a>
			<a mat-button class="nav-item" routerLink="./" fragment="contact">Contact</a>
		</ul>
	</mat-sidenav>
	<mat-sidenav-content>
		<app-header (sidenavToggle)="sidenav.toggle()"></app-header>
		<div class="content">
			<div class="background-top">
				<app-home></app-home>
			</div>
			<div class="background-content">
				<app-about id="about"></app-about>
				<app-projects id="projects"></app-projects>
				<app-contact id="contact"></app-contact>
			</div>
			<app-footer></app-footer>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
</body>