html, body{
    margin: 0;
    padding: 0;
    font-size: 17px;
    height: 100%;
}

.background-top {
    width:100%;
    background: linear-gradient(180deg,rgb(139, 0, 0) ,  rgba(0,0,0,1));
}

.background-content {
    background: #131516;
}

.content {
    margin-top: -10vh;
    left: 0;
}


@media screen and (max-width: 700px) {

    .content {
    }

    html, body {
        font-size: 15px;
        height: auto;
    }
}