.background {
    
    background: linear-gradient(90deg,rgba(184,38,1,1) 60%,  rgba(6,47,79,1));
}


mat-card-title {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sub-p {
    width: 100%;
    margin-top: 6%;
    margin-bottom:0;
    font-size: 30px;
}

.main-p {
    width: 100%;
    margin-left: 0;
    margin-top:0;
    font-size: 80px;
}

.content-card {
    align-items: left;
    width: 100%;
    max-width:max-content;
    padding: 0 1rem 0 8rem;
    margin: 0 1rem 0 8rem;

}

@media screen and (max-width: 700px){
    .content-card {
        width: 100%;
        max-width:max-content;
        padding: 0 1vw 0 1vw;
        margin: auto;
    }

    .sub-p {
        width: 100%;
        margin-top: 6%;
        margin-right: 0;
        margin-bottom:0;
        font-size: 30px;
    }
    
    .main-p {
        width: 100%;
        margin-top:0 ;
        font-size: 80px;
    }
}

