


mat-card-title {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.flex-container {
    gap:0.5vh;
    display:grid;
}

.sub-p {
    width: 100%;
    padding-left: 2vw;
    font-size: 30px;
}

.main-p {
    text-align: center;
    padding-left: 1vw;
    width: 100%;
    font-size: 80px;
}

.content-card {
    align-items: center;
    width: 100%;
    max-width:max-content;
    padding: 5vh 20vw 5vh 20vw;

}

.social-media-buttons {
    
}

@media screen and (max-width: 700px){
    .content-card {
        width: 100%;
        max-width:max-content;
        padding: 5vh 10vw 5vh 0vw;
        margin: auto;
    }

    .sub-p {
        width: 100%;
        font-size: 30px;
    }
    
    .main-p {
        padding-left: 0;
        width: 100%;
        font-size: 80px;
    }
}

