
.background {
    background: rgb(129,55,114);
    background: linear-gradient(45deg, rgba(129,55,114,1) 15%, rgba(184,38,1,1) 50%, rgba(6,47,79,1) 85%);
}

.center{
    height:fit-content;
    width:fit-content;
    text-align: left;
    position: relative;
    left: 20%
}

mat-card-title {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sub-p {
    width: fit-content;
    margin-top: 6%;
    margin-bottom:0;
    font-size:30px;
}

.main-p {
    width: fit-content;
    margin-left: -1.8%;
    margin-top:0 ;
    font-size: 120px;
}

.just-p {
    font-size: 18px;
}

