<div class="background">
    <mat-card class="page-card">
        <mat-card class="center">
            <mat-card-title>
                <p class="sub-p"><b>Hi! My name is</b></p>
                <p class="main-p"><b>Ryan Cen</b></p>
            </mat-card-title>
            <mat-card-subtitle>
                <p class = "just-p">
                    I am a software developer based in the San Francisco Bay Area
                </p>
            </mat-card-subtitle>
        </mat-card>
    </mat-card>
</div>
